/*header*/
 header {
    position:absolute;
    left:0;
    width:640px;
    height:88px;
    background: url('/images/header.png');
}
header #menu-button {
    display:block;
    width:76px;
    float:left;
    margin: 10px 0 0 10px;
}