/*reset*/
 html, body, div, section, header, footer, h1, h2, h3, ul, li, img, p, section, input, a, nav, span {
    margin:0;
    padding:0;
}
ul {
    list-style:none;
}
/*fonts*/
 @font-face {
    font-family:'Helvetica';
    src:url('/fonts/Helvetica.ttf');
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('/fonts/HelveticaNeue.otf');
}
@font-face {
    font-family:'HelveticaNeue';
    font-weight:bold;
    src:url('/fonts/HelveticaNeue-Bold.otf');
}
body {
    font-family:'Helvetica';
    overflow:hidden;
}
/*the content container*/
#main-container {
    /*for menu animation purposes*/
    float:left;
    position:absolute;
    left:0;
}



