/*main navigation*/
 #app-menu {
    width:519px;
    background: url("/images/navigation-pattern.png");
    float:left;
    position:absolute;
    left:-519px;
}
#app-menu #sections-tab-menu {
    height:88px;
}
#app-menu #sections-tab-menu li {
    float:left;
    display:block;
    box-sizing:border-box;
    border: 1px solid #272728;
    outline:1px solid #3c3d3e;    
    width:173px;
    height:88px;
    background: url("/images/non-selected-tab.fw.png");
}
#app-menu #sections-tab-menu li:nth-child(1) {
    background:none;
    border:none;
    outline:none;
}
#app-menu #sections-tab-menu li img{
    display:block;
    margin: 0 auto;
    margin-top:20px;
}

#app-menu input{
    width:485px;
    height:53px;
    margin:10px auto;
    display:block;
    border-radius:30px;
    border:1px solid #222;
    font-size:24px;
    color:#666;
    padding-left:50px;
    padding-top:5px;
    box-sizing:border-box;
    background: url("/images/search-field.fw.png");
}
#app-menu #main-menu{
    margin-top:10px;
    height:504px;
}
#app-menu #main-menu li{
    height:84px;
    font-size:34px;
    color:white;
    box-sizing:border-box;
    border-top:1px solid #333;
    border-bottom:1px solid black;
    padding-top:15px;
    
}
#app-menu #main-menu li .menu-icon{
    vertical-align:middle;
}
#app-menu #main-menu li .icon-container{
    width:70px;
    height:60px;
    float:left;
    vertical-align:middle;
    padding-left:20px;
}
#app-menu #main-menu li span{
    vertical-align:middle;
    display:block;
    vertical-align:middle;
    float:left;
    padding-top:10px;
    margin-left:20px;
}
#app-menu #main-menu li #payments-notifications{
    float:right;
    background:url("/images/notifications.fw.png");
    width:70px;
    height:50px;
    text-align:center;
    box-sizing:border-box;
    padding-top:3px;
    padding-right:3px;
    margin-right:15px;
}
#app-menu #account-info{
    font-style:italic;
    padding:20px 0 20px 30px;
    color:white;
    font-size:20px;
}
#app-menu .login-button{
    width:224px;
    height:70px;
    background:url("/images/login-button.fw.png") no-repeat;
    color:white;
    font-size:28px;
    float:left;
    display:block;
    margin:0 0 20px 20px;
    text-align:center;
    padding-top:15px;
    box-sizing:border-box;
    text-decoration:none;
}